@CHARSET "UTF-8";

#content {
    background: url(background.jpg) no-repeat center;
}

#instructions {
    font: 30px Arial, Helvetica, sans-serif;
    position: relative;
    top: 8px;
}

#vocabImg {
    position: relative;
    top: -25px;
    margin: 3em auto;
    width: 1145px;
    height: 660px;
    background: url(vocabImg.jpg);
}

#quesSection {
    position: relative;
    top: -20px;
    margin: 20px auto;
    height: 560px;
}

.imgArea {
    float: left;
    width: 185px;
    height: 200px;
    padding: 5px;
    margin: 15px 45px;
}

.imgObject {
    position: relative;
    height: 150px;
    margin: 5px auto;
}

#optionSection {
    position: relative;
    top: -20px;
    margin: 1em auto;
    width: 1100px;
    height: 60px;
    padding : 2px;
    border: 2px solid green;
    text-align: center;
    color: black;
}

.gameOver {
    font: bold 40px Arial, Helvetica, sans-serif;
    color: blue;
    position: absolute;
    left: 470px;
}

.drophover {
    background-color: #FF9900;
}

.backOpaque {
    background-color: #A4A4A4;
    opacity: 0.2;
}

.dropObjects {
    width: 125px;
    height: 40px;
    margin: 12px auto;
    border: 2px solid black;
    text-align: center;
    font: 30px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.dragObjects {
    float: left;
	margin-left: 25px;
    height: 33px;
    text-align: center;
    cursor: move;
    font: 30px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
