<style>
body,td,h1,th,.cent-button {
	font-family: Comic Sans MS;
	color: #FCC110;
}
p {
	font-size: 20pt;
}

body {
	/*background:url(Resources/LoomaLogoTransparentLARGE.png) no-repeat;
	top: 30%;
	margin-top:30%;
	background-size: cover; */
	background-color: #091F48;
/*	background: url("Resources/LoomaLogoTransparentLARGE.png");
	background-size: cover;
	background-repeat: no-repeat;
    	background-position: center bottom; 
*/	
}

.topTools {
	background-color: rgb(255, 236, 139);
	position: absolute;
	top:0;
	text-align: center;
	width: 100%;
}

button {
	height:100;
	font: bold 40px Comic Sans MS;
}
button:hover {color: white;background-color:#091F48}


.right-button {
	position: fixed;
  	top: 0;
  	right: 0;
	visibility: visible;
}

.centered-image {
	position:absolute;
	top:50%;
	left:50%;

}
	
.content-section {
	position:absolute;
	top:130px;
	text-align: center;
	color: #FCC110;
	display: block;
}
.side-bar {
	position: absolute;
	right:0;
	background-color: rgb(255, 236, 139);
}

.logo {
	/*position:absolute;
	top:40%;
	text-align:center;*/
}


#media-controls {
	align:center;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
}


#media-controls {
	opacity: .9;
}


button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 360px;
}

input[type=range] {
width:100%;
}

#volume-bar {
	width: 60px;
}
/*pop up box*/
#dialog {
    visibility: hidden;
    /*width: 500px;
    height: 300px;*/
    position: center; 
    width: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.50);
    padding: 8px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    -webkit-border-radius: 9px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 9px; /* FF1-3.6 */
    border-radius: 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#dialog-bg {
    text-align: center;
    position: center center;
    background-color: #FBFBFB;
    /*width: 700px;
    height: 300px;*/
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 7px; /* FF1-3.6 */
    border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#bottom-tools {
	background-color: rgb(255, 236, 139);
	position: fixed;
  	bottom: 0;
	width: 100%;
  	/*right: 0;*/
}
</style>
