@CHARSET "UTF-8";

#title {
	text-align: center;
	margin:5px auto;
	width: 700px;
	padding: 5px;
	font: 30px/35px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
	background-color: #ffffcc;
	border: 1px solid #000;
	opacity: 0.8;
}

#listenAgain {
    left: 2.7em;
    top: 17em;
}

#questionBox {
    margin: 180px 0 80px 60px;
}

#imageBox {
    margin: 140px auto;
}

#checkedOption {
    margin-top: 5em;
}

#optionSection {
    margin: 4em 0 0 10em;
    clear: both;
}
