@CHARSET "UTF-8";


#content {
    text-align: left;
}

#section {
    margin: 0px auto;
}

#topText {
    height: 25px;
    font: 20px/24px Arial, Helvetica, sans-serif;
    color: #30C;
    margin-top: 20px;
}

#imgSentence {
    margin-left: 25px;:
    width: 800px;
    height: 550px;
    margin-top: 40px;
}

#question {
    margin-left: 15px;
    margin-top: 40px;
    padding: 5px;
    height: 25px;
}

.questionText {
    font: 22px/27px Arial, Helvetica, sans-serif;
    color: #0000FF;
}

.dropBox {
    margin: 0.5em;
    height: 25px;
    padding-right: 100px;
    text-align: center;
    border: 1px solid #A3EE2C;
}

.drophover {
    background: #8f8;
}

#sideBar {
    position: absolute;
    top: 150px;
    right: 5%;
    width: 250px;
    height: 450px;
    border: 1px solid #A3EE2C;
    padding: 5px;
}

.wordBankTxt {
    cursor: move;
    float: left;
    width: 98px;
    height: 20px;
    margin: 0.30em;
    padding: 5px;
    margin-left: 10px;
    font: 20px/25px sans-serif,Verdana, Helvetica, Geneva ;
    text-align: center;
}

.wordBankTxt:hover {
    color: #903;
}

#wordBankText {
    position: absolute;
    float: right;
    top: 120px;
    right: 10%;
    color: #FF0000;
    font: 20px Verdana, Helvetica, Geneva, sans-serif;
}

#gameOverInfo {
    display: none;
    position: absolute;
    top: 4em;
    left: 10em;
    text-align: center;
    font: 25px/25px Helvetica, Geneva, Arial, Verdana, sans-serif;
    color: #000;
    font-weight: bold;
}
