@CHARSET "UTF-8";

#content {
    position: relative;
    margin: 0 auto;
    margin-top: 74px;
    width: 1198px;
    height: 750px;
    overflow: hidden;
}

#left-side {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    padding-top: 50px;
    float: left;
    width: 200px;
    height: 450px;
    border: 4px solid #000;
}

#leftText {
    position: absolute;
    top: -30px;
    left: 0px;
    text-align: center;
    height: 40px;
    font: 20px/25px Verdana,Helvetica,Arial Black, Times New Roman;
    color: #FF0000;
}

.default {
    float: left;
    margin-top: 0px;
    margin-left: 24px;
    text-align: center;
    width: 170px;
    height: 44px;
}

#right-side {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    padding-top: 50px;
    float: right;
    width: 200px;
    height: 450px;
    border: 4px solid #000;
}

#rightText {
    position: absolute;
    top: -30px;
    left: 10px;
    text-align: center;
    height: 40px;
    font: 20px/25px Verdana,Helvetica,Arial Black, Times New Roman;
    color: #FF0000;
}

#main-content {
    margin-top: 10px;
    float: left;
    margin-left: 90px;
    width: 650px;
    height: 525px;
}

#topText {
    text-align: center;
    height: 40px;
    font: 20px/25px Verdana,Helvetica,Arial Black, Times New Roman;
}

#container {
    position: relative;
    margin: 5px auto;
    width: 598px;
    height: 390px;
    border: 4px solid #000;
    background: url(bgContainer.png);
}

#joinSyllable {
    margin: 10px auto;
    width: 525px;
    height: 60px;
    border: 4px solid #000;
}

.sign {
    float: left;
    width: 20px;
    height: 30px;
    padding: 5px;
    text-align: center;
    font: 30px/35px Verdana,Helvetica,Arial Black, Times New Roman;
}

.drophover {
    background-color: #FF9900;
}

.correctWord {
    border: none
    color: #FF00FF;
}

#help {
    z-index: 40;
}

.backOpaque{
    background-color: #A4A4A4;
    opacity: 0.2;
}

#gameOver {
    opacity: 1;
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    color: blue;
    text-align: center;
    font: bold 25px/35px Arial Black, Times New Roman;
}

.syllable {
    float: left;
    position: relative;
    cursor: move;
    margin: 1em;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    font: 20px/25px bold Arial,Verdana,Geneva,Helvetica;
    text-align: center;
    cursor: pointer;
}

.blank {
    float: left;
    width: 100px;
    height: 45px;
    margin: 0.5em 0.5em;
    font: 20px/35px bold Arial,Verdana,Geneva,Helvetica;
    text-align: center;
    color: #FF00FF;
}
