#help {
    z-index: 40;
}

#content {
    margin: 0px auto;
    margin-top: 74px;
    width: 1198px;
    height: 750px;
    position: relative;
    overflow: hidden;
}

#section {
    margin: 170px auto;
    width: 1198px;
}

#instruction {
    font: 24px/60px Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#topText {
    width: 500px;
    font: 24px/60px Arial, Helvetica, sans-serif;
    color: #30C;
    margin-top: 50px;
    position: absolute;
}

#imgLesson {
    position: absolute;
    float: left;
    width: 1198px;
    height:  100px;
    margin-left: 1em;
    text-align: center;
    float: left;
    margin-top: 150px;
}

.imgLessonObject {
    float: left;
    position: relative;
    width: 216px;
    height: 170px;
    margin-left: .7em;
}

.imgClickToPlay {
    position: relative;
    top: 10px;
    height: 30px; width: 102px;
    background: url(icons/clickToListen.png) no-repeat;
    cursor: pointer;
}

#listen {
    position: absolute;
    top: 340px;
    border: 1px solid red;
}

#lessonDisplay {
    position: absolute;
    bottom: 100px;
    left: 100px;
    height: 200px;
    width: 600px;
    font: 24px Verdana, Helvetica, Geneva, sans-serif;
    line-height: 40px;
}

.lessonQuestion {
    height: 75px;
    width: 570px;
    position: absolute;
    bottom: 120px;
    left: 60px;
    color: blue;
}

.volume {
    float: left;
    width: 48px; height: 48px;
    background: url(volume.png) no-repeat;
    cursor: pointer;
}

.lessonAnswer {
    height: 75px;
    width: 800px;
    position: absolute;
    bottom: 50px;
    left: 60px;
    color: red;
}

#GoToLesson {
    position: absolute;
    left: 1%;
    top: 88%;
    padding: 1px;
    margin: 0.1em;
    width: 60px;
    height: 59px;
    border: 1px dotted blue;
    background: url(icons/Lesson.png) no-repeat;
}

#imgExercise {
    width: 800px;
    height: 175px;
    position: absolute;
    top: 150px;
    left: 70px;
    padding-left: 10px;
}

#sideBar {
    position: absolute;
    top: 150px;
    right: 5%;
    width: 270px;
    height: 450px;
    border: 1px solid #A3EE2C;
    padding: 10px 5px;
}

#exercises {
    position: relative;
    width: 600px;
    top: 400px;
    left: 100px;
    line-height: 70px;
}

#wordBankText {
    position: absolute;
    float: right;
    top: 120px;
    right: 8em;
    color: #FF0000;
    font: 20px Verdana, Helvetica, Geneva, sans-serif;
    border: 1px solid red;
}

#anchorNext {
    bottom: 43px;
    left: 600px;
    height: 48px;
    width: 48px;
    position: absolute;
    background: url(icons/next.png) no-repeat;
}

.specialText {
    text-align: center;
    font: 30px/35px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
}

#gameOverInfo {
    position: absolute;
    top: 335px;
    left: 300px;
    text-align: center;
    font: 35px/40px Helvetica,Verdana, Geneva, Arial, sans-serif;
}

.wordBankTxt {
    cursor: move;
    float: left;
    width: 90px;
    height: 20px;
    margin: .5em 0.5em;
    padding: 5px;
    font: 24px sans-serif,Verdana, Helvetica, Geneva ;
    text-align: center;
    z-index: 10;
}

.wordBankTxt:hover {
    color: red;
}

.question {
    color: #3300CC;
    word-spacing: 10px;
    font: 24px/30px Sans,Helvetica, Verdana, Geneva, sans-serif;
    margin-bottom: 10px;
}

.dropBox {
    margin: 0 .5em;
    padding-right: 150px;
    height: 25px;
    text-align: center;
    border: 1px solid #A3EE2C;
}

.answer {
    padding-left: 20px;
    padding-right: 20px;
}

.dragover {
    background: #8f8;
}

.drophover {
    background: #ccc;
}

.imgObject {
    position: relative;
    float: left;
    margin: 0.25em;
    border: 2px solid #ccc;
}

.focus {
    background-color: #FFEEAA;
}

.correct {
    background-color: #C0F9F3;
}

.incorrect {
    background-color: #FFFF00;
}

#nextExercise {
    height: 32px;
    left: 50%;
    margin: 0.1em;
    position: absolute;
    top: 90%;
    width: 32px;
    border: 1px solid red;
}
