@CHARSET "UTF-8";

#content {
    position: relative;
    margin: 0 auto;
    margin-top: 74px;
    width: 1198px;
    height: 650px;
    padding-top: 100px;
    overflow-y: hidden;
    text-align: center;
}

#instructions {
    font: 30px Arial, Helvetica, sans-serif;
    position: relative;
    top: -10px;
}

#section1 {
    margin: 0 auto;
    width: 1000px;
    height: 560px;
    background: url(section1.png);
}

#section3 {
    position: relative;
    margin: 0 auto;
    width: 505px;
    height: 460px;
    background: url(section3.png);
}

#ballOutline {
    position: absolute;
    top: 16em;
    left: 16em;
    width: 32px;
    height: 32px;
}

#ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background: url(ball.png);
}

#inputArea {
    margin: .1em auto;
    width: 20em;
    height: 3.4em;
}

#linkCheck {
    margin: .5em 1em;
    float: left;
    width: 101px;
    height: 30px;
    background: url(check.png);
    cursor: pointer;
}

input.inputBox {
    float: left;
    margin-left: 2.5em;
    font: 25px/30px Verdana, Geneva, Arial, Helvetica, sans-serif;
    height: 35px;
    width: 100px;
    text-align: center;
}

#protractor {
    position: relative;
    margin: 8.2em auto;
    margin-bottom: 5em;
    width: 496px;
    height: 252px;
    background: url(protractor.png);
}

#lineDefault {

}

#line {

}

#section2ImgHint {
    margin-bottom: 2em;
}

#inputArea1 {
    margin: .1em auto;
    width: 30em;
    height: 3.4em;
}

#angleName {
    float: left;
    font: 25px/30px Verdana, Geneva, Arial, Helvetica, sans-serif;
    height: 35px;
    width: 120px;
    text-align: right;
}

#medalArea {
    position: absolute;
    top: 2em;
    right: 0em;
    width: 400px;
    height: 70px;
}

.medal {
    float: right;
    width: 46px;
    height: 70px;
    background: url(medal.png);
}

.clear {
    clear: both;
}

.focus {
    background-color: #FFFF00;
}

.correct {
    background-color: #C0F9F3;
}

.incorrect {
    background-color: #FF0000;
}

.select {
    color: #79ff00;
}

.backOpaque {
    background-color: #A4A4A4;
    opacity: 0.2;
}

#help {
    z-index: 40;
}

#gameOver {
    position: absolute;
    opacity: 1;
    top: 2em;
    left: .55em;
    color: red;
    text-align: center;
    font: bold 45px/65px Arial Black, Times New Roman;
    z-index: 150;
}
