@CHARSET "UTF-8";
#instructions {
    font:bold 40px Arial,Helvetica,sans-serif;
    position:relative;
    top:20px;
}

#linkCheck {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 101px;
    height: 30px;
    background: url(check.png);
}

.lessonHint {
    position: absolute;
    margin: 10pxm 20px -50px 10px;
    float: left;
    font-size: 30px;
}

.clear {
    clear: both;
}

#outlineBackground {
    position: relative;
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    width: 465px;
    height: 465px;
    border: 2px solid #F8B851;
    background-color: #F8D871;
    z-index: 0;
}

#canvasDrawBox {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
}

#canvasBorder {
    position: absolute;
    width: 360px;
    height: 360px;
    top: 50px;
    left: 50px;
    z-index: 5;
}

.number {
    position: absolute;
    font: 15px sans-serif,Verdana, Geneva, Arial, Helvetica;
    color: blue;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
}

#questionSection {
    position: relative;
    float: left;
    margin-top: 60px;
    margin-left: 100px;
    width: 465px;
    height: 465px;
    border: 2px solid #CBF384;
    text-align: center;
}

table#finalTable {
    margin: 15px;
    border: 2;
    text-align: center;
    width: 300px;
    font: 20px sans-serif,Verdana, Geneva, Arial, Helvetica;
}

#question {
    margin-left: 15px;
    padding: 5px;
    height: 45px;
    font: 30px/30px Arial, Helvetica, sans-serif;
    color: #000;
}

.quesPic {
    margin-top: 10px;
}

#optionSection {
    margin: 70px auto;
    width: 135px;
    overflow: hidden;
}

.options {
    float: left;
    width: 49px;
    height: 49px;
}

.check {
    margin-top: 10px;
    float: left;
    width: 36px;
    height: 32px;
}

.optionText {
    float: left;
    margin-left: 0.7em;
    width: 25px;
    height: 49px;
    font: 25px/50px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}

input.inputBox {
    margin-left: 10px;
    font: 20px/25px Verdana, Geneva, Arial, Helvetica, sans-serif;
    height: 25px;
    width: 50px;
    text-align: center;
}

.focus {
    background-color: #FFFF00;
}

.correct {
    background-color: #C0F9F3;
}

.incorrect {
    background-color: #FF0000;
}

.select {
    color: #79ff00;
}

.backOpaque {
    background-color: #A4A4A4;
    opacity: 0.2;
}


#gameOver {
    opacity: 1;
    position: absolute;
    top: 30px;
    color: red;
    text-align: center;
    font: bold 45px/65px Arial Black, Times New Roman;
    z-index: 150;
}
