@CHARSET "UTF-8";

#instructions {
    font: 30px Arial, Helvetica, sans-serif;
    position: relative;
    top: 80px;
}

#section {
    width: 900px;
    height: 375px;
    margin: 0 auto;
    z-index: 1;
    margin-top: 150px;
}

#left-side {
    float: left;
    width: 360px;
    height: 360px;
    z-index: 2;
}

#tv {
    position: relative;
    margin-left: 12px;
    width: 215px;
    height: 191px;
    background-image: url(tv.png);
    z-index: 5;
}

#tvLayer {
    position: absolute;
    top: 17px;
    left: 16px;
    width: 179px;
    height: 128px;
    font: 40px/60px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 1;
}

.tvOff {
    background-color: #78040E;
    border: 2px solid #78040E;
}

.tvOn {
    background-color: #0000FF;
    border: 2px solid #0000FF;
}

#cupBoard {
    width: 280px;
    height: 259px;
    background: url(cupBoard.png) no-repeat;
}

#right-side {
    float: right;
    width: 420px;
    height: 365px;
}

#borderWall {
    position: relative;
    width: 420px;
    height: 320px;
    background: url(borderWall.png) no-repeat;
}

#imgDisplay {
    position: absolute;
    top: 53px;
    left: 62px;
    width: 294px;
    height: 210px;
}

.default {
    float: left;
    width: 69px;
    height: 48px;
    background-color: #FCFFA4;
    border: 2px solid #FCFFA4;
}

.correct {
    float: left;
    width: 69px;
    height: 48px;
    background-color: #A6E4FE;
    border: 2px solid #F9F900;
}

#calcSection {
    margin-top: 50px;
    width: 420px;
    height: 35px;
    text-align: center;
    font: 30px/35px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;
}

input.textBox {
    size: 3;
    font: 30px/35px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 35px;
    width: 80px;
    text-align: center;
}

.focus {
    background-color: #FF9900;
}

.incorrect {
    background-color: #FFFF00;
}

.backOpaque {
    background-color: #A4A4A4;
    opacity: 0.2;
}
