/**** Game Styles  ****/

#content {
    background: url(background.jpg) no-repeat center;
}

#section {
    margin: 30px auto;
    width: 800px;
}

.specialText {
    font: 30px/35px Helvetica, Geneva, Arial, Verdana, sans-serif;
    font-weight: bold;
    color: #FF9900;
    border-bottom: 2px dotted #CCC;
}

.default {
    float: left;
    padding-top: 5px;
    width: 120px;
    height: 115px;
    background-color: #99E6FF;
    margin: 0.2em;
    text-align: center;
    font: bold 15pt/100px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.textColor {
    color: black;
}

.matched {
    background-color: blue;
}

#clickDisplay {
    float: left;
    width: 150px;
    height: 35px;
    margin-left: 50px;
    padding-left: 20px;
    padding-top: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFF00;
    font-size: 16pt;
    font-weight: bold;
}

#clickTitle {
    float: left;
    margin-top: 20px;
    width: 50px;
    height: 35px;
}

#clickBox {
    float: right;
    margin: 0.5em 0 0 0.1em;
    height: 30px;
    border: 2px dotted green;
    padding: 3px;
    color: red;
    font : bold 25px Arial Black, Times New Roman;
    background: #ACC;
}

#gameOver {
    margin-top: 150px;
    text-align: center;
    font: 30px/35px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
}

#gameOverInfo {
    margin-top: 35px;
    text-align: center;
    font: 35px/40px Helvetica,Verdana, Geneva, Arial, sans-serif;
}

#instructions {
    font: 30px Helvetica, Verdana, Geneva, Arial, sans-serif;
    margin-top: 20px;
}
