@CHARSET "UTF-8";
#instructions {
    font:bold 40px Arial,Helvetica,sans-serif;
    position:relative;
    top:30px;
}
#main{
    margin: 100px 0 0 160px;
}

#imageArea{
    float:left;
    width:370px;
    height:400px;
    border: 2px solid #000;
    margin-right: 120px;
    text-align: center;
    background-color: #A5FFFE;
}
#questionTopImage{
    background-color: #D2D77E;
    height: 120px;
    padding: 5px 0;
}
#questionBottomImage{
    padding: 10px 0;
}


#textArea{
    float:left;
    width:400px;
    height:425px;
    border: 2px solid #000;
    text-align: center;
    font: 24px Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-color: #6DFFD5;
}
#questionTopText{
    background-color: #FED67E;
    height: 100px;
    padding: 10px 5px;
}
#questionBottomText{
    padding: 10px 5px;
}

#calcLine,
#subtotalLine,
#totalLine,
#bottomLine{
    text-align: right;
    margin: 10px 0;
}


#subtotalInput,
#totalInput{
    width: 50px;
    font: 26px Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.focus{
    background-color: #FFEEAA;
}

.blank{
    border-bottom:2px solid black;
}

#answerCheck{
    left:966px;
    position:absolute;
    top:500px;
}

#gameOver{
    font: 20px bold Arial,Verdana,Geneva,Helvetica;
    color: #AA0000;
    background:none repeat scroll 0 0 #DDDDDD;
    border:1px solid #333333;
    padding:40px;
    position:absolute;
    top:200px;
    width:350px;
    left: 400px;
}
