<?xml version="1.0" encoding="UTF-8"?>
<olenepal>
	<platform>xo</platform>
	<strings>
		<string id="errorText">Default Error Message</string>
		<string id="errorMessageOkButton" color="000000">OK</string>
		<string id="launchLessonButton">Default Lesson Title</string>
        <string id="notesErrorMsg">Open Pustakalaya.org </string>
        
        <string id="langLandingNotesInst">पाठविवरणका लागि pustakalaya.org को शिक्षण सामग्री भित्र पाठविवरणहरूको संगालो खोल्नुहोस्</string>
		
		<string id="grade1">१</string>
		<string id="grade2">२</string>
		<string id="grade3">३</string>
		<string id="grade4">४</string>
		<string id="grade5">५</string>
		<string id="grade6">६</string>
		
		<string id="mathsButton">गणित</string>
		<string id="nepaliButton">नेपाली</string>
		<string id="scienceButton">विज्ञान</string>
		<string id="science-enButton">Science</string>
		<string id="englishButton">English</string>
		
		<string id="teachersNotesButton" fontSize="14">Teacher's Notes</string>
		<string id="lessonPlanButton" fontSize="14">Lesson Plan</string>
		
		<string id="lessonTab">पाठ</string>
		<string id="exerciseTab">अभ्यास</string>
		<string id="exercisePanelTitle">अङ्क</string>
		<string id="exerciseScoreTitle">अङ्क :</string>
		<string id="exerciseLevelTitle">तह : </string>
		
		<string id="exerciseStartButton">सुरु गरौँ</string>
		<string id="exerciseReplayButton">फेरि खेलौँ</string>
		<string id="exerciseResultsButton">सारांश</string>
		
		<string id="activityHelpLessonButton">पाठ</string>
		<string id="activityHelpExercise1Button">अभ्यास १</string>
		<string id="activityHelpExercise2Button">अभ्यास २</string>
		<string id="activityHelpExercise3Button">अभ्यास ३</string>
		
		<string id="summaryScreenHeading">यस पाठमा तिमीले निम्न कुराहरु सिक्यौ :</string>
		<string id="summaryPreviousScores">पछिल्ला ५ प्राप्ताङ्क</string>
		<string id="summaryLevel">तह</string>
		<string id="summaryScore">अङ्क</string>
		<string id="summaryDate">मिति समय</string>
		
		<string id="repeatLessonButton">पाठ फेरि सुरु गरौँ</string>
		<string id="repeatExerciseButton">अभ्यास फेरि सुरु गरौँ</string>
		
		<string id="menuPageCreatedBy">साझा शिक्षा ई-पाटीद्वारा निर्मित</string>
		<string id="menuPageTitle">ई-पाठ</string>
		<string id="landingPageCreatedBy">साझा शिक्षा ई-पाटीद्वारा निर्मित</string>
		<string id="landingPageTitle">ई-पाठ</string>

		<string id="weeksTitle">पढाउने हप्ता</string>
		<string id="gradesTitle">कक्षा</string>
		<string id="subjectsTitle">विषय</string>
		
		<string id="landingClassTitle">कक्षा:</string>
		<string id="exeHelpTitle">अभ्यास निर्देशन (तह </string>
		<string id="lessonHelpTitle">पाठ निर्देशन</string>
		
		<string id="CDCTitle">पाठ्‌यक्रम विकास केन्द्रबाट स्वीकृत</string>
		<string id="CDCMsg">नेपाल सरकार
शिक्षा मन्त्रालय

पाठ्‌यक्रम विकास केन्द्रबाट बाल सन्दर्भ सामग्रीको रूपमा प्रयोग गर्न स्वीकृति प्राप्त</string>
	</strings>
	
	<weeks locale="ne" fontSize="24" />
	<thumbs letters="ABCD" />
	<tabs locale="ne" />
	<scoreballs locale="ne" />
	<levels locale="ne" />
	<summaryScores locale="ne" fontSize="18" />
	
	<sounds>
		<sound id="correct" locale="en">sound/correct.mp3</sound>
		<sound id="incorrect" locale="en">sound/incorrect.mp3</sound>
		<sound id="correct" locale="ne">sound/right.mp3</sound>
		<sound id="incorrect" locale="ne">sound/wrong.mp3</sound>
	</sounds>
	
	<games>
		<game>Matching_Game</game>
		<game>Search_Word</game>
	</games>
	
	<activities>
<course gradeID="2" subjectID="maths">
	<lesson week="7" tech="flash" order="1">2032008</lesson>
	<lesson week="9" tech="flash" order="1">2032010</lesson>
	<lesson week="10" tech="flash" order="2">2032012</lesson>
	<lesson week="13" tech="flash" order="1">2032017</lesson>
	<lesson week="17" tech="flash" order="1">2032021</lesson>
	<lesson week="19" tech="flash" order="1">2032023</lesson>
	<lesson week="5" tech="flash" order="1">2042007</lesson>
	<lesson week="11" tech="flash" order="1">2042013</lesson>
	<lesson week="11" tech="flash" order="20">2042014</lesson>
	<lesson week="12" tech="flash" order="1">2042015</lesson>
	<lesson week="12" tech="flash" order="20">2042016</lesson>
	<lesson week="14" tech="flash" order="1">2042018</lesson>
	<lesson week="21" tech="flash" order="1">2052025</lesson>
	<lesson week="22" tech="flash" order="1">2052026</lesson>
	<lesson week="8" tech="flash" order="1">2062009</lesson>
	<lesson week="20" tech="flash" order="1">2062024</lesson>
	<lesson week="15" tech="karma" order="1">3032019</lesson>
	<lesson week="6" tech="karma" order="1">3052006</lesson>
	<lesson week="10" tech="karma" order="1">3082011</lesson>
	<lesson week="18" tech="karma" order="1">3092022</lesson>
	<lesson week="1" tech="karma" order="1">3122000</lesson>
	<lesson week="2" tech="karma" order="1">3122002</lesson>
	<lesson week="3" tech="karma" order="1">3122003</lesson>
	<lesson week="4" tech="karma" order="1">3122004</lesson>
	<lesson week="16" tech="karma" order="1">3122020</lesson>
</course>
<course gradeID="2" subjectID="nepali">
	<lesson week="12" tech="flash" order="1">2022111</lesson>
	<lesson week="2" tech="flash" order="1">2042101</lesson>
	<lesson week="3" tech="flash" order="1">2042102</lesson>
	<lesson week="5" tech="flash" order="1">2042104</lesson>
	<lesson week="8" tech="flash" order="1">2042107</lesson>
	<lesson week="1" tech="flash" order="1">2052100</lesson>
	<lesson week="4" tech="flash" order="1">2052103</lesson>
	<lesson week="9" tech="flash" order="1">2052108</lesson>
	<lesson week="11" tech="flash" order="1">2052110</lesson>
	<lesson week="13" tech="flash" order="1">2052112</lesson>
	<lesson week="15" tech="flash" order="1">2052114</lesson>
	<lesson week="17" tech="flash" order="1">2052116</lesson>
	<lesson week="7" tech="flash" order="1">2062106</lesson>
	<lesson week="16" tech="flash" order="1">2062115</lesson>
	<lesson week="6" tech="flash" order="1">2072105</lesson>
	<lesson week="10" tech="flash" order="1">2072109</lesson>
	<lesson week="18" tech="flash" order="1">2072117</lesson>
	<lesson week="14" tech="flash" order="1">2082113</lesson>
</course>
<course gradeID="2" subjectID="english">
	<lesson week="2" tech="flash" order="1">2032202</lesson>
	<lesson week="2" tech="flash" order="2">2032203</lesson>
	<lesson week="3" tech="flash" order="1">2032204</lesson>
	<lesson week="4" tech="flash" order="1">2032205</lesson>
	<lesson week="12" tech="flash" order="1">2032220</lesson>
	<lesson week="19" tech="flash" order="1">2032232</lesson>
	<lesson week="5" tech="flash" order="1">2042207</lesson>
	<lesson week="15" tech="flash" order="2">2042226</lesson>
	<lesson week="22" tech="flash" order="1">2042234</lesson>
	<lesson week="7" tech="flash" order="1">2052211</lesson>
	<lesson week="8" tech="flash" order="2">2052213</lesson>
	<lesson week="13" tech="flash" order="1">2052223</lesson>
	<lesson week="18" tech="flash" order="1">2052230</lesson>
	<lesson week="25" tech="flash" order="1">2053212</lesson>
	<lesson week="21" tech="flash" order="1">2056218</lesson>
	<lesson week="20" tech="flash" order="1">2082233</lesson>
	<lesson week="23" tech="flash" order="1">2082236</lesson>
	<lesson week="24" tech="flash" order="1">2082237</lesson>
	<lesson week="5" tech="karma" order="20">3092208</lesson>
	<lesson week="6" tech="karma" order="1">3092209</lesson>
	<lesson week="6" tech="karma" order="20">3092210</lesson>
	<lesson week="9" tech="karma" order="1">3092214</lesson>
	<lesson week="10" tech="karma" order="2">3092217</lesson>
	<lesson week="11" tech="karma" order="20">3092219</lesson>
	<lesson week="16" tech="karma" order="1">3092228</lesson>
	<lesson week="17" tech="karma" order="1">3092235</lesson>
	<lesson week="14" tech="karma" order="1">3096205</lesson>
	<lesson week="15" tech="karma" order="1">3116202</lesson>
	<lesson week="1" tech="karma" order="20">3122201</lesson>
	<lesson week="4" tech="karma" order="20">3122206</lesson>
	<lesson week="8" tech="karma" order="1">3122212</lesson>
	<lesson week="9" tech="karma" order="20">3122215</lesson>
	<lesson week="10" tech="karma" order="1">3122216</lesson>
	<lesson week="11" tech="karma" order="1">3122218</lesson>
	<lesson week="13" tech="karma" order="1">3122222</lesson>
	<lesson week="14" tech="karma" order="1">3122224</lesson>
	<lesson week="17" tech="karma" order="20">3122225</lesson>
	<lesson week="16" tech="karma" order="20">3122227</lesson>
	<lesson week="1" tech="karma" order="10">3122231</lesson>
</course>
<course gradeID="2" subjectID="science">
	<lesson week="1" tech="flash" order="1">F2SA</lesson>
	<lesson week="2" tech="flash" order="1">F2SB</lesson>
	<lesson week="3" tech="flash" order="1">F2SC</lesson>
	<lesson week="4" tech="flash" order="1">F2SD</lesson>
	<lesson week="5" tech="flash" order="1">F2SE</lesson>
	<lesson week="6" tech="flash" order="1">F2SF</lesson>
	<lesson week="7" tech="flash" order="1">F2SG</lesson>
	<lesson week="8" tech="flash" order="1">F2SH</lesson>
	<lesson week="9" tech="flash" order="1">F2SI</lesson>
	<lesson week="10" tech="flash" order="1">F2SJ</lesson>
	<lesson week="11" tech="flash" order="1">F2SK</lesson>
	<lesson week="12" tech="flash" order="1">F2SL</lesson>
	<lesson week="13" tech="flash" order="1">F2SM</lesson>
	<lesson week="14" tech="flash" order="1">F2SN</lesson>
	<lesson week="15" tech="flash" order="1">F2SO</lesson>
</course>
<course gradeID="3" subjectID="maths">
	<lesson week="1" tech="flash" order="1">2023000</lesson>
	<lesson week="3" tech="flash" order="1">2023002</lesson>
	<lesson week="6" tech="flash" order="1">2023005</lesson>
	<lesson week="10" tech="flash" order="2">2023010</lesson>
	<lesson week="18" tech="flash" order="1">2023020</lesson>
	<lesson week="4" tech="flash" order="1">2033003</lesson>
	<lesson week="5" tech="flash" order="1">2033004</lesson>
	<lesson week="11" tech="flash" order="1">2033011</lesson>
	<lesson week="15" tech="flash" order="1">2033016</lesson>
	<lesson week="21" tech="flash" order="1">2033023</lesson>
	<lesson week="7" tech="flash" order="1">2043006</lesson>
	<lesson week="14" tech="flash" order="1">2043015</lesson>
	<lesson week="17" tech="flash" order="20">2043019</lesson>
	<lesson week="8" tech="flash" order="1">2053007</lesson>
	<lesson week="9" tech="flash" order="1">2053008</lesson>
	<lesson week="11" tech="flash" order="20">2053012</lesson>
	<lesson week="19" tech="flash" order="1">2053021</lesson>
	<lesson week="2" tech="flash" order="1">2063001</lesson>
	<lesson week="10" tech="flash" order="1">2073009</lesson>
	<lesson week="12" tech="flash" order="1">2073013</lesson>
	<lesson week="13" tech="flash" order="1">2073014</lesson>
	<lesson week="16" tech="flash" order="1">2073017</lesson>
	<lesson week="17" tech="flash" order="1">2073018</lesson>
	<lesson week="20" tech="flash" order="1">2073022</lesson>
</course>
<course gradeID="3" subjectID="nepali">
	<lesson week="2" tech="flash" order="1">2023101</lesson>
	<lesson week="8" tech="flash" order="1">2023107</lesson>
	<lesson week="8" tech="flash" order="20">2023108</lesson>
	<lesson week="14" tech="flash" order="1">2023114</lesson>
	<lesson week="4" tech="flash" order="1">2033103</lesson>
	<lesson week="9" tech="flash" order="1">2033109</lesson>
	<lesson week="10" tech="flash" order="1">2033110</lesson>
	<lesson week="11" tech="flash" order="1">2033111</lesson>
	<lesson week="12" tech="flash" order="1">2033112</lesson>
	<lesson week="13" tech="flash" order="1">2033113</lesson>
	<lesson week="1" tech="flash" order="1">2043100</lesson>
	<lesson week="7" tech="flash" order="1">2043106</lesson>
	<lesson week="19" tech="flash" order="1">2043119</lesson>
	<lesson week="3" tech="flash" order="1">2053102</lesson>
	<lesson week="6" tech="flash" order="1">2053105</lesson>
	<lesson week="18" tech="flash" order="1">2053118</lesson>
	<lesson week="5" tech="flash" order="1">2073104</lesson>
	<lesson week="15" tech="flash" order="1">2073115</lesson>
	<lesson week="16" tech="flash" order="1">2083116</lesson>
	<lesson week="20" tech="flash" order="1">2083120</lesson>
	<lesson week="17" tech="flash" order="1">2103117</lesson>
</course>
<course gradeID="3" subjectID="english">
	<lesson week="10" tech="flash" order="1">2023211</lesson>
	<lesson week="1" tech="flash" order="1">2033200</lesson>
	<lesson week="1" tech="flash" order="2">2033201</lesson>
	<lesson week="2" tech="flash" order="1">2033202</lesson>
	<lesson week="3" tech="flash" order="2">2033203</lesson>
	<lesson week="14" tech="flash" order="1">2043206</lesson>
	<lesson week="6" tech="flash" order="1">2043207</lesson>
	<lesson week="7" tech="flash" order="1">2043208</lesson>
	<lesson week="13" tech="flash" order="1">2043214</lesson>
	<lesson week="5" tech="flash" order="1">2043215</lesson>
	<lesson week="19" tech="flash" order="1">2043223</lesson>
	<lesson week="12" tech="flash" order="2">2053213</lesson>
	<lesson week="16" tech="flash" order="1">2053219</lesson>
	<lesson week="4" tech="flash" order="2">2053224</lesson>
	<lesson week="24" tech="flash" order="1">2053231</lesson>
	<lesson week="11" tech="flash" order="1">2056219</lesson>
	<lesson week="8" tech="flash" order="1">2063209</lesson>
	<lesson week="18" tech="flash" order="2">2063222</lesson>
	<lesson week="20" tech="flash" order="1">2063225</lesson>
	<lesson week="21" tech="flash" order="1">2063226</lesson>
	<lesson week="22" tech="flash" order="1">2063227</lesson>
	<lesson week="22" tech="flash" order="2">2063228</lesson>
	<lesson week="26" tech="flash" order="1">2063233</lesson>
	<lesson week="15" tech="flash" order="1">2073218</lesson>
	<lesson week="23" tech="flash" order="2">2073230</lesson>
	<lesson week="15" tech="flash" order="20">2083217</lesson>
	<lesson week="17" tech="flash" order="1">2083220</lesson>
	<lesson week="18" tech="flash" order="1">2083221</lesson>
	<lesson week="25" tech="flash" order="1">2083232</lesson>
	<lesson week="4" tech="karma" order="2">3093205</lesson>
	<lesson week="12" tech="karma" order="10">3096210</lesson>
	<lesson week="9" tech="karma" order="20">3126220</lesson>
	<lesson week="9" tech="karma" order="10">3126221</lesson>
</course>
<course gradeID="3" subjectID="science">
	<lesson week="1" tech="flash" order="1">F3SA</lesson>
	<lesson week="6" tech="flash" order="1">F3SB</lesson>
	<lesson week="7" tech="flash" order="1">F3SC</lesson>
	<lesson week="5" tech="flash" order="1">F3SD</lesson>
	<lesson week="9" tech="flash" order="1">F3SE</lesson>
	<lesson week="2" tech="flash" order="1">F3SF</lesson>
	<lesson week="10" tech="flash" order="1">F3SG</lesson>
	<lesson week="12" tech="flash" order="1">F3SH</lesson>
	<lesson week="4" tech="flash" order="1">F3SI</lesson>
	<lesson week="3" tech="flash" order="1">F3SJ</lesson>
	<lesson week="8" tech="flash" order="1">F3SK</lesson>
	<lesson week="11" tech="flash" order="1">F3SL</lesson>
	<lesson week="13" tech="flash" order="1">F3SM</lesson>
	<lesson week="14" tech="flash" order="1">F3SN</lesson>
	<lesson week="15" tech="flash" order="1">F3SO</lesson>
</course>
<course gradeID="4" subjectID="maths">
	<lesson week="3" tech="flash" order="2">2034005</lesson>
	<lesson week="4" tech="flash" order="1">2034006</lesson>
	<lesson week="5" tech="flash" order="1">2034007</lesson>
	<lesson week="9" tech="flash" order="1">2034013</lesson>
	<lesson week="9" tech="flash" order="20">2034014</lesson>
	<lesson week="21" tech="flash" order="1">2034032</lesson>
	<lesson week="1" tech="flash" order="1">2044000</lesson>
	<lesson week="6" tech="flash" order="1">2044008</lesson>
	<lesson week="14" tech="flash" order="1">2044020</lesson>
	<lesson week="17" tech="flash" order="4">2044027</lesson>
	<lesson week="18" tech="flash" order="1">2044028</lesson>
	<lesson week="22" tech="flash" order="10">2044034</lesson>
	<lesson week="19" tech="flash" order="1">2044041</lesson>
	<lesson week="24" tech="flash" order="4">2044048</lesson>
	<lesson week="2" tech="flash" order="1">2054002</lesson>
	<lesson week="8" tech="flash" order="1">2054012</lesson>
	<lesson week="11" tech="flash" order="1">2054016</lesson>
	<lesson week="12" tech="flash" order="20">2054018</lesson>
	<lesson week="20" tech="flash" order="1">2054031</lesson>
	<lesson week="25" tech="flash" order="1">2054060</lesson>
	<lesson week="3" tech="flash" order="1">2064003</lesson>
	<lesson week="7" tech="flash" order="20">2064011</lesson>
	<lesson week="16" tech="flash" order="1">2064023</lesson>
	<lesson week="16" tech="flash" order="4">2064024</lesson>
	<lesson week="25" tech="flash" order="20">2065609</lesson>
	<lesson week="1" tech="flash" order="2">2074001</lesson>
	<lesson week="6" tech="flash" order="2">2084009</lesson>
	<lesson week="7" tech="flash" order="1">2084010</lesson>
	<lesson week="10" tech="flash" order="1">2084015</lesson>
	<lesson week="15" tech="flash" order="1">2084022</lesson>
	<lesson week="19" tech="flash" order="20">2084029</lesson>
	<lesson week="26" tech="flash" order="1">2084035</lesson>
	<lesson week="23" tech="flash" order="1">2084046</lesson>
	<lesson week="12" tech="flash" order="1">2094017</lesson>
	<lesson week="13" tech="flash" order="1">2094019</lesson>
	<lesson week="14" tech="flash" order="10">2094021</lesson>
	<lesson week="24" tech="flash" order="1">2094047</lesson>
	<lesson week="22" tech="flash" order="1">2105754</lesson>
	<lesson week="17" tech="flash" order="1">2114026</lesson>
</course>
<course gradeID="4" subjectID="nepali">
	<lesson week="1" tech="flash" order="1">2064100</lesson>
	<lesson week="2" tech="flash" order="1">2064101</lesson>
	<lesson week="3" tech="flash" order="1">2064102</lesson>
	<lesson week="4" tech="flash" order="1">2064103</lesson>
	<lesson week="5" tech="flash" order="1">2064104</lesson>
	<lesson week="6" tech="flash" order="1">2064105</lesson>
	<lesson week="7" tech="flash" order="1">2064106</lesson>
	<lesson week="8" tech="flash" order="1">2064107</lesson>
	<lesson week="9" tech="flash" order="1">2064108</lesson>
	<lesson week="10" tech="flash" order="1">2064109</lesson>
	<lesson week="11" tech="flash" order="1">2064110</lesson>
	<lesson week="12" tech="flash" order="1">2064111</lesson>
	<lesson week="13" tech="flash" order="1">2064112</lesson>
	<lesson week="14" tech="flash" order="1">2064113</lesson>
	<lesson week="15" tech="flash" order="1">2064114</lesson>
	<lesson week="16" tech="flash" order="1">2064115</lesson>
	<lesson week="17" tech="flash" order="1">2064116</lesson>
	<lesson week="18" tech="flash" order="1">2064117</lesson>
	<lesson week="19" tech="flash" order="1">2064118</lesson>
	<lesson week="20" tech="flash" order="1">2064119</lesson>
</course>
<course gradeID="4" subjectID="english">
	<lesson week="10" tech="flash" order="1">2033229</lesson>
	<lesson week="11" tech="flash" order="1">2034212</lesson>
	<lesson week="17" tech="flash" order="2">2034221</lesson>
	<lesson week="3" tech="flash" order="1">2034223</lesson>
	<lesson week="21" tech="flash" order="1">2034236</lesson>
	<lesson week="26" tech="flash" order="1">2034249</lesson>
	<lesson week="3" tech="flash" order="2">2044205</lesson>
	<lesson week="12" tech="flash" order="1">2044243</lesson>
	<lesson week="2" tech="flash" order="2">2053210</lesson>
	<lesson week="8" tech="flash" order="2">2053234</lesson>
	<lesson week="9" tech="flash" order="2">2053235</lesson>
	<lesson week="1" tech="flash" order="1">2054200</lesson>
	<lesson week="2" tech="flash" order="1">2054201</lesson>
	<lesson week="5" tech="flash" order="1">2054206</lesson>
	<lesson week="17" tech="flash" order="1">2054213</lesson>
	<lesson week="15" tech="flash" order="1">2054217</lesson>
	<lesson week="21" tech="flash" order="2">2054242</lesson>
	<lesson week="24" tech="flash" order="1">2054246</lesson>
	<lesson week="7" tech="flash" order="1">2056225</lesson>
	<lesson week="14" tech="flash" order="1">2064219</lesson>
	<lesson week="25" tech="flash" order="1">2064222</lesson>
	<lesson week="20" tech="flash" order="1">2064234</lesson>
	<lesson week="4" tech="flash" order="1">2084204</lesson>
	<lesson week="13" tech="flash" order="1">2084215</lesson>
	<lesson week="16" tech="flash" order="1">2084220</lesson>
	<lesson week="18" tech="flash" order="1">2084229</lesson>
	<lesson week="19" tech="flash" order="4">2084232</lesson>
	<lesson week="12" tech="flash" order="4">2094214</lesson>
	<lesson week="8" tech="flash" order="1">2094226</lesson>
	<lesson week="22" tech="flash" order="1">2094238</lesson>
	<lesson week="6" tech="flash" order="1">2104230</lesson>
	<lesson week="23" tech="flash" order="1">2104241</lesson>
	<lesson week="1" tech="karma" order="10">3093204</lesson>
	<lesson week="7" tech="karma" order="20">3096211</lesson>
</course>
<course gradeID="4" subjectID="science">
	<lesson week="1" tech="flash" order="1">F4SA</lesson>
	<lesson week="2" tech="flash" order="1">F4SB</lesson>
	<lesson week="3" tech="flash" order="1">F4SC</lesson>
	<lesson week="4" tech="flash" order="1">F4SD</lesson>
	<lesson week="5" tech="flash" order="1">F4SE</lesson>
	<lesson week="6" tech="flash" order="1">F4SF</lesson>
	<lesson week="7" tech="flash" order="1">F4SG</lesson>
	<lesson week="8" tech="flash" order="1">F4SH</lesson>
	<lesson week="9" tech="flash" order="1">F4SI</lesson>
	<lesson week="10" tech="flash" order="1">F4SJ</lesson>
	<lesson week="11" tech="flash" order="1">F4SK</lesson>
	<lesson week="12" tech="flash" order="1">F4SL</lesson>
	<lesson week="13" tech="flash" order="1">F4SM</lesson>
	<lesson week="14" tech="flash" order="1">F4SN</lesson>
	<lesson week="15" tech="flash" order="1">F4SO</lesson>
	<lesson week="16" tech="flash" order="1">F4SP</lesson>
	<lesson week="17" tech="flash" order="1">F4SQ</lesson>
	<lesson week="18" tech="flash" order="1">F4SR</lesson>
	<lesson week="19" tech="flash" order="1">F4SS</lesson>
	<lesson week="20" tech="flash" order="1">F4ST</lesson>
</course>
<course gradeID="5" subjectID="maths">
	<lesson week="1" tech="flash" order="1">2044004</lesson>
	<lesson week="5" tech="flash" order="1">2044010</lesson>
	<lesson week="15" tech="flash" order="1">2044011</lesson>
	<lesson week="4" tech="flash" order="1">2045015</lesson>
	<lesson week="13" tech="flash" order="2">2045017</lesson>
	<lesson week="20" tech="flash" order="1">2045019</lesson>
	<lesson week="24" tech="flash" order="2">2045021</lesson>
	<lesson week="26" tech="flash" order="1">2045023</lesson>
	<lesson week="21" tech="flash" order="1">2045025</lesson>
	<lesson week="7" tech="flash" order="1">2054037</lesson>
	<lesson week="10" tech="flash" order="2">2064025</lesson>
	<lesson week="9" tech="flash" order="1">2064039</lesson>
	<lesson week="3" tech="flash" order="1">2065602</lesson>
	<lesson week="8" tech="flash" order="2">2065605</lesson>
	<lesson week="12" tech="flash" order="1">2065607</lesson>
	<lesson week="18" tech="flash" order="4">2065608</lesson>
	<lesson week="22" tech="flash" order="1">2065610</lesson>
	<lesson week="6" tech="flash" order="1">2085100</lesson>
	<lesson week="2" tech="flash" order="2">2085101</lesson>
	<lesson week="14" tech="flash" order="1">2085103</lesson>
	<lesson week="2" tech="flash" order="1">2085104</lesson>
	<lesson week="11" tech="flash" order="1">2085107</lesson>
	<lesson week="20" tech="flash" order="2">2085109</lesson>
	<lesson week="18" tech="flash" order="1">2085110</lesson>
	<lesson week="23" tech="flash" order="1">2085113</lesson>
	<lesson week="26" tech="flash" order="2">2085115</lesson>
	<lesson week="6" tech="flash" order="2">2094036</lesson>
	<lesson week="10" tech="flash" order="1">2094040</lesson>
	<lesson week="17" tech="flash" order="1">2094044</lesson>
	<lesson week="12" tech="flash" order="2">2104030</lesson>
	<lesson week="8" tech="flash" order="1">2104038</lesson>
	<lesson week="16" tech="flash" order="2">2105755</lesson>
	<lesson week="25" tech="flash" order="1">2105756</lesson>
	<lesson week="22" tech="flash" order="2">2105759</lesson>
	<lesson week="24" tech="flash" order="1">2105760</lesson>
	<lesson week="16" tech="flash" order="1">2115020</lesson>
	<lesson week="14" tech="flash" order="2">2115021</lesson>
	<lesson week="19" tech="flash" order="1">2115022</lesson>
	<lesson week="4" tech="flash" order="2">2115105</lesson>
</course>
<course gradeID="5" subjectID="english">
	<lesson week="20" tech="flash" order="2">2034207</lesson>
	<lesson week="24" tech="flash" order="1">2034209</lesson>
	<lesson week="7" tech="flash" order="2">2035306</lesson>
	<lesson week="4" tech="flash" order="2">2035307</lesson>
	<lesson week="9" tech="flash" order="1">2035308</lesson>
	<lesson week="18" tech="flash" order="2">2045012</lesson>
	<lesson week="8" tech="flash" order="1">2045016</lesson>
	<lesson week="16" tech="flash" order="1">2045022</lesson>
	<lesson week="21" tech="flash" order="1">2045024</lesson>
	<lesson week="4" tech="flash" order="1">2054228</lesson>
	<lesson week="25" tech="flash" order="2">2055123</lesson>
	<lesson week="7" tech="flash" order="1">2055309</lesson>
	<lesson week="15" tech="flash" order="1">2064218</lesson>
	<lesson week="1" tech="flash" order="1">2064601</lesson>
	<lesson week="12" tech="flash" order="1">2065606</lesson>
	<lesson week="20" tech="flash" order="1">2065612</lesson>
	<lesson week="23" tech="flash" order="1">2065613</lesson>
	<lesson week="5" tech="flash" order="1">2074203</lesson>
	<lesson week="3" tech="flash" order="1">2074208</lesson>
	<lesson week="11" tech="flash" order="1">2084202</lesson>
	<lesson week="19" tech="flash" order="1">2084231</lesson>
	<lesson week="18" tech="flash" order="1">2084248</lesson>
	<lesson week="22" tech="flash" order="4">2085114</lesson>
	<lesson week="12" tech="flash" order="2">2094240</lesson>
	<lesson week="10" tech="flash" order="1">2095305</lesson>
	<lesson week="6" tech="flash" order="1">2104235</lesson>
	<lesson week="26" tech="flash" order="1">2105300</lesson>
	<lesson week="2" tech="flash" order="2">2105302</lesson>
	<lesson week="14" tech="flash" order="1">2105303</lesson>
	<lesson week="13" tech="flash" order="1">2105752</lesson>
	<lesson week="17" tech="flash" order="1">2105757</lesson>
</course>
<course gradeID="5" subjectID="science">
	<lesson week="3" tech="flash" order="1">2045014</lesson>
	<lesson week="6" tech="flash" order="1">2045018</lesson>
	<lesson week="9" tech="flash" order="1">2045020</lesson>
	<lesson week="12" tech="flash" order="1">2045026</lesson>
	<lesson week="22" tech="flash" order="1">2045027</lesson>
	<lesson week="20" tech="flash" order="1">2045028</lesson>
	<lesson week="4" tech="flash" order="1">2055063</lesson>
	<lesson week="1" tech="flash" order="1">2055201</lesson>
	<lesson week="24" tech="flash" order="1">2065615</lesson>
	<lesson week="21" tech="flash" order="1">2065616</lesson>
	<lesson week="15" tech="flash" order="1">2065617</lesson>
	<lesson week="18" tech="flash" order="1">2065618</lesson>
	<lesson week="2" tech="flash" order="1">2085102</lesson>
	<lesson week="8" tech="flash" order="1">2085105</lesson>
	<lesson week="5" tech="flash" order="1">2085106</lesson>
	<lesson week="7" tech="flash" order="1">2085108</lesson>
	<lesson week="10" tech="flash" order="1">2085111</lesson>
	<lesson week="11" tech="flash" order="1">2085117</lesson>
	<lesson week="23" tech="flash" order="1">2085118</lesson>
	<lesson week="13" tech="flash" order="1">2085119</lesson>
	<lesson week="27" tech="flash" order="1">2085120</lesson>
	<lesson week="28" tech="flash" order="1">2085121</lesson>
	<lesson week="29" tech="flash" order="1">2085122</lesson>
	<lesson week="25" tech="flash" order="1">2105763</lesson>
	<lesson week="16" tech="flash" order="1">2105764</lesson>
	<lesson week="17" tech="flash" order="1">2105765</lesson>
	<lesson week="19" tech="flash" order="1">2105766</lesson>
	<lesson week="14" tech="flash" order="1">2105767</lesson>
	<lesson week="26" tech="flash" order="1">2105768</lesson>
	<lesson week="30" tech="flash" order="1">2105769</lesson>
</course>
<course gradeID="6" subjectID="maths">
	<lesson week="15" tech="flash" order="1">2036024</lesson>
	<lesson week="15" tech="flash" order="20">2036025</lesson>
	<lesson week="20" tech="flash" order="1">2036032</lesson>
	<lesson week="20" tech="flash" order="20">2036033</lesson>
	<lesson week="11" tech="flash" order="4">2046018</lesson>
	<lesson week="13" tech="flash" order="1">2046020</lesson>
	<lesson week="13" tech="flash" order="20">2046021</lesson>
	<lesson week="14" tech="flash" order="1">2046022</lesson>
	<lesson week="19" tech="flash" order="1">2046031</lesson>
	<lesson week="21" tech="flash" order="1">2046034</lesson>
	<lesson week="24" tech="flash" order="1">2046039</lesson>
	<lesson week="25" tech="flash" order="20">2046041</lesson>
	<lesson week="27" tech="flash" order="1">2046043</lesson>
	<lesson week="27" tech="flash" order="2">2046044</lesson>
	<lesson week="17" tech="flash" order="1">2056028</lesson>
	<lesson week="18" tech="flash" order="1">2056029</lesson>
	<lesson week="21" tech="flash" order="20">2056035</lesson>
	<lesson week="22" tech="flash" order="1">2056037</lesson>
	<lesson week="25" tech="flash" order="1">2056040</lesson>
	<lesson week="26" tech="flash" order="1">2056042</lesson>
	<lesson week="28" tech="flash" order="1">2056045</lesson>
	<lesson week="16" tech="flash" order="20">2066027</lesson>
	<lesson week="23" tech="flash" order="1">2076038</lesson>
	<lesson week="5" tech="karma" order="1">3046009</lesson>
	<lesson week="10" tech="karma" order="1">3056015</lesson>
	<lesson week="1" tech="karma" order="1">3066000</lesson>
	<lesson week="12" tech="karma" order="1">3086019</lesson>
	<lesson week="4" tech="karma" order="1">3096005</lesson>
	<lesson week="7" tech="karma" order="1">3096012</lesson>
	<lesson week="2" tech="karma" order="1">3116007</lesson>
	<lesson week="11" tech="karma" order="1">3116017</lesson>
	<lesson week="3" tech="karma" order="1">3126008</lesson>
	<lesson week="6" tech="karma" order="1">3126011</lesson>
	<lesson week="8" tech="karma" order="1">3126013</lesson>
	<lesson week="9" tech="karma" order="1">3126014</lesson>
	<lesson week="10" tech="karma" order="20">3126016</lesson>
	<lesson week="14" tech="karma" order="20">3126023</lesson>
	<lesson week="16" tech="karma" order="1">3126026</lesson>
</course>
<course gradeID="6" subjectID="english">
	<lesson week="3" tech="flash" order="1">2033216</lesson>
	<lesson week="8" tech="flash" order="1">2034211</lesson>
	<lesson week="6" tech="flash" order="1">2034216</lesson>
	<lesson week="15" tech="flash" order="1">2056214</lesson>
	<lesson week="17" tech="flash" order="1">2056216</lesson>
	<lesson week="23" tech="flash" order="1">2065601</lesson>
	<lesson week="20" tech="flash" order="1">2065603</lesson>
	<lesson week="9" tech="flash" order="1">2065604</lesson>
	<lesson week="14" tech="flash" order="1">2065611</lesson>
	<lesson week="26" tech="flash" order="1">2065614</lesson>
	<lesson week="18" tech="flash" order="1">2066217</lesson>
	<lesson week="12" tech="flash" order="2">2066228</lesson>
	<lesson week="6" tech="flash" order="2">2066230</lesson>
	<lesson week="7" tech="flash" order="1">2074210</lesson>
	<lesson week="16" tech="flash" order="1">2074227</lesson>
	<lesson week="22" tech="flash" order="1">2084237</lesson>
	<lesson week="5" tech="flash" order="1">2085112</lesson>
	<lesson week="13" tech="flash" order="1">2085116</lesson>
	<lesson week="11" tech="flash" order="1">2095500</lesson>
	<lesson week="19" tech="flash" order="1">2105301</lesson>
	<lesson week="17" tech="flash" order="2">2105750</lesson>
	<lesson week="21" tech="flash" order="1">2105751</lesson>
	<lesson week="24" tech="flash" order="1">2105753</lesson>
	<lesson week="4" tech="flash" order="1">2105758</lesson>
	<lesson week="10" tech="flash" order="2">2105761</lesson>
	<lesson week="25" tech="flash" order="1">2105762</lesson>
	<lesson week="2" tech="flash" order="1">2106226</lesson>
	<lesson week="1" tech="karma" order="20">3046227</lesson>
	<lesson week="12" tech="karma" order="10">3096215</lesson>
	<lesson week="1" tech="karma" order="10">3116223</lesson>
	<lesson week="2" tech="karma" order="20">3126206</lesson>
	<lesson week="9" tech="karma" order="10">3126222</lesson>
</course>
<course gradeID="6" subjectID="science">
	<lesson week="1" tech="flash" order="1">F6SA</lesson>
	<lesson week="27" tech="flash" order="1">F6SAA</lesson>
	<lesson week="28" tech="flash" order="1">F6SAB</lesson>
	<lesson week="29" tech="flash" order="1">F6SAC</lesson>
	<lesson week="30" tech="flash" order="1">F6SAD</lesson>
	<lesson week="2" tech="flash" order="1">F6SB</lesson>
	<lesson week="3" tech="flash" order="1">F6SC</lesson>
	<lesson week="4" tech="flash" order="1">F6SD</lesson>
	<lesson week="5" tech="flash" order="1">F6SE</lesson>
	<lesson week="6" tech="flash" order="1">F6SF</lesson>
	<lesson week="7" tech="flash" order="1">F6SG</lesson>
	<lesson week="8" tech="flash" order="1">F6SH</lesson>
	<lesson week="9" tech="flash" order="1">F6SI</lesson>
	<lesson week="10" tech="flash" order="1">F6SJ</lesson>
	<lesson week="11" tech="flash" order="1">F6SK</lesson>
	<lesson week="12" tech="flash" order="1">F6SL</lesson>
	<lesson week="14" tech="flash" order="1">F6SM</lesson>
	<lesson week="13" tech="flash" order="1">F6SN</lesson>
	<lesson week="16" tech="flash" order="1">F6SO</lesson>
	<lesson week="15" tech="flash" order="1">F6SP</lesson>
	<lesson week="17" tech="flash" order="1">F6SQ</lesson>
	<lesson week="18" tech="flash" order="1">F6SR</lesson>
	<lesson week="19" tech="flash" order="1">F6SS</lesson>
	<lesson week="20" tech="flash" order="1">F6ST</lesson>
	<lesson week="21" tech="flash" order="1">F6SU</lesson>
	<lesson week="22" tech="flash" order="1">F6SV</lesson>
	<lesson week="23" tech="flash" order="1">F6SW</lesson>
	<lesson week="24" tech="flash" order="1">F6SX</lesson>
	<lesson week="25" tech="flash" order="1">F6SY</lesson>
	<lesson week="26" tech="flash" order="1">F6SZ</lesson>
</course>
</activities>
</olenepal>
