@CHARSET "UTF-8";

#currentTitle {
    width: 150px;
    height: 80px;
    font: 25px/30px "Courier New", Courier, monospace;
    font-weight: bold;
    color: red;
}

#content {
    background: url(background.jpg) no-repeat center;
}

#title {
    margin: 2em auto;
    font: 40px/45px Verdana, Geneva, Arial, sans-serif;
    font-weight: bold;
}

#listenAgain {
    position: absolute;
    left: 10em;
    top: 17em;
    width: 120px;
    height: 120px;
    background: url(listenAgain.png);
    cursor: pointer;
}

#imageBox {
    float: left;
    margin: 20px 0 40px 360px;
    width: 200px;
    height: 200px;
}

#checkedOption {
    float: right;
    margin-top: 5em;
    margin-right: 10em;
    width: 128px;
    height: 128px;
    padding: 5px;
}

#optionSection {
    float: left;
    margin: 60px 0 0 165px;
    width: 900px;
    height: 80px;
    clear: both;
}

.optImg {
    float: left;
    cursor: pointer;
    width: 200px;
    height: 64px;
    font: 40px/50px Verdana, Geneva, Arial, sans-serif;
    text-align: center;
    background: url(optionBorder.png) no-repeat;
    margin: 0 .6em 0 0;
    padding-top: 5px;
}

.optImg:Hover {
    width: 200px;
    height: 64px;
    background: url(optionBorderHover.png) no-repeat;
}

#gameOver {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 30%;
    color: blue;
    text-align: center;
    font : bold 45px/65px Arial Black, Times New Roman;
}
