@CHARSET "UTF-8";

#content {
    background: url(background.jpg) no-repeat center;
}

.panel {
    background: #efebba;
    border: 2px solid #efeb3e;
    padding: 5px 15px 10px;
}

.titles {
    text-align: center;
}

.titles h1 {
    font-size: 44px;
}

.titles h2 {
    font-size: 36px;
}

#gameArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 1198px;
    height: 750px;
    overflow: hidden;
}

#dropTarget {
    position: absolute;
    width: 650px;
    height: 430px;
    left: 430px;
    top: 400px;
}

.ui-draggable-dragging {
    background: url(shadow.png) no-repeat;
}

#discardTarget {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.sheep {
    position: absolute;
    cursor: move;
}

#sheep1 {
    left: 38px;
    bottom: 20px;
}

#sheep2 {
    left: 15px;
    bottom: 125px;
}

#sheep3 {
    left: 178px;
    bottom: 20px;
}

#information {
    color: red;
    font-weight: bold;
}
