@CHARSET "UTF-8";

/*  Designed for 1200*900 px screen resolution  */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    background-color: #FFFFCC;
}

#header {
    background-image: url(../image/bg_header.png);
    background-repeat: repeat-x;
    height: 75px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#topbtn_left {
    float: left;
    height: 60px;
    width: 60px;
    padding-top: 6px;
    padding-left: 15px;
}


.linkBack {
    cursor: pointer;
    width: 60px;
    height: 59px;
    background: url(../image/btn_back.png);
}

.linkBack:hover {
    background: url(../image/btn_back_hover.png);
}

.lesson_title {
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 10px;
    background-image: url(../image/bg_title_block.png);
}

.topbtn_right {
    float: right;
    height: 60px;
    width: 60px;
    padding-top: 6px;
    padding-right: 15px;
}

#linkHelp {
    width: 60px;
    height: 60px;
    background: url(../image/btn_help.png);
    cursor: pointer;
}

#linkHelp:hover {
    background: url(../image/btn_help_hover.png);
}

#help {
    display: none;
    position: absolute;
    right: 60px;
    top: 75px;
    width: 400px;
    height: 697px;
    z-index: 1000;
    text-align: right;
}

#helpText {
    border: 2px solid #B303DF;
    background-color: #EFEBBA;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#helpText h2{
	font-size: 20px;
	margin: 0;
}

#helpText p{
	font-size: 16px;
	margin: 0 0 10px;
}

#linkOle {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: url(../image/btn_ole.png);
}

#linkOle:hover {
    background: url(../image/btn_ole_hover.png);
}

.linkNext {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: url(../image/btn_next.png);
}

.linkNext:hover {
    background: url(../image/btn_next_hover.png);
}

#content {
    position: relative;
    margin: 0 auto;
    margin-top: 74px;
    width: 1198px;
    height: 750px;
    overflow: hidden;
	text-align:center;
}

#footer {
    position: relative;
    background-image: url(../image/bg_footer.png);
    background-repeat: repeat-x;
    height: 75px;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

#score_box {
    float: left;
    padding-left: 5px;
    padding-top: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFF00;
    font-size: 16pt;
    font-weight: bold;
}

.botbtn_right {
    float: right;
    height: 55px;
    padding-right: 5px;
    padding-top: 10px;
}

#linkCheck {
	margin:0 40px 0 0;
	background-image:url("../image/btn_check.png");
	height:55px;
	width:187px;
}

#linkPlayAgain {
    cursor: pointer;
    width: 251px;
    height: 55px;
    color: white;
    background: url(../image/btn_play_again.png) no-repeat;
}

#linkPlayAgain.nepali {
    width: 181px;
    padding-top: 7px;
    padding-left: 70px;
    font: 38px Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#linkPlayAgain.english {
    width: 181px;
    padding-top: 10px;
    padding-left: 70px;
    font: 26px Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#linkPlayAgain:hover {
    background: url(../image/btn_play_again_hover.png) no-repeat;
}

#linkPlayAgain:active {
    background: url(../image/btn_play_again_mouse_down.png) no-repeat;
    color: yellow;
}

#linkNextLesson {
    position: absolute;
    bottom: 75px;
    right: 10px;
}

#linkPrevLesson {
    position: absolute;
    bottom: 75px;
    left: 10px;
}


#picClock {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 10px;
    background: url(../image/picClock.png);
}

#timerBar {
    position: absolute;
    left: 30%;
    bottom: 25%;
    width: 220px;

    color: #ff0;
    font-size:16pt;
    font-weight:bold;
}
.timerBoxes {
    float: right;
    height: 32px;
    border: 2px dotted green;
    margin: 3px 0 0 3px;
    padding: 3px;
    color: blue;
    text-align: center;
    font : bold 25px Arial Black, Times New Roman;
    background: #ACC;
}
