body{
font-family:Lohit Nepali;
font-size:150%;

}
table, td{
	border: 1px solid black;
}

table {
	border-collapse: collapse;
    font-size:100%;
}

#heading {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}