@CHARSET "UTF-8";

#content {
    background: url(background.jpg) no-repeat center;
}

#instructions {
    font: 40px Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 8px;
    left: -30px;
}

#questArea {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 200px;
    height: 80px;
    font: 50px/70px Arial Black,Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: gold;
}

#optionArea {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 750px;
    height: 300px;
    font: 50px/120px Arial Black,Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.optionBox {
    position: absolute;
    text-align: center;
    color: green;
}

.optionBox:hover {
    color:  red;
}

#gameOver {
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 400px;
    color: blue;
    text-align: center;
    font : bold 45px/65px Arial Black, Times New Roman;
}
