#content {
    text-align:left;
}

#title {
	text-align: center;
	margin:5px auto;
	width: 700px;
	padding: 5px;
	font: 30px/35px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
	background-color: #ffffcc;
	border: 1px solid #000;
	opacity: 0.8;
}
